In [11]:
# import necessary libraries
import pandas as pd
import sqlite3

In [12]:
def connect_to_database(database_path):
    
    # Connect to the SQLite database and retrieve table names.
    conn = sqlite3.connect(database_path)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    table_names = [table[0] for table in cursor.fetchall()]
    return conn, table_names

def read_tables_into_dataframes(conn, table_names):
    
    # Read tables into Pandas DataFrames and store them in a dictionary.
    dataframes = {}
    for table_name in table_names:
        query = f"SELECT * FROM {table_name};"
        df = pd.read_sql_query(query, conn)
        dataframes[table_name] = df
    return dataframes

def perform_data_analysis(dataframes):
    """
    Perform basic data analysis on each DataFrame.
    """
    for table_name, df in dataframes.items():
        print(f"Table: {table_name}")
        print(df.head())
        print('\n')

def close_database_connection(conn):
    """
    Close the database connection.
    """
    conn.close()

In [13]:
# Connect to the SQLite database
database_path = r'data\Tree.sqlite'
conn, table_names = connect_to_database(database_path)

In [14]:
# Read the tables into Pandas DataFrames
dataframes = read_tables_into_dataframes(conn, table_names)

In [15]:
# Perform data analysis
perform_data_analysis(dataframes)

# Close the database connection
close_database_connection(conn)

Table: table_1
   index  Care_Object  Object_Type  District  X_coordinate  Y_coordinate  \
0      0          461            6         8        359814       5645658
1      1         1637            6         8        359797       5645630
2      2         1207            6         9        358277       5651918
3      3         1207            6         9        358271       5651922
4      4         1207            6         9        358240       5652009

   Tribe_of  Stem_bis  Crown  Height  Age_estimate
0         0        50      8      10            25
1         0        45     10      10            25
2         0        70     12      16            55
3         0        60     10      16            45
4         0         5      1       6             0


Table: table_2
   index Tree_number  High_value Legal_value Kr_diam  ST_Scope  Tree_Height  \
0      0           1   5549510,9  473366,239       8       141            7
1      1           2  5549517,24  473363,459       8       141            7
2      2           3  5549524,39  473360,149       8       138            7
3      3           4     5549531  473357,239       8       145            7
4      4           5  5549537,75  473354,479       8       141            7

   St_diam  Planting_year Kr_Radius
0       45           1920         4
1       45           1920         4
2       44           1920         4
3       46           1920         4
4       45           1920         4